.aboutContainer{
    display: flex;
    justify-content: center;
}

.aboutCard{
    height: 590px;
    width: 300px;
font-size: 14px;
}


.aboutCard img{
    width: 284px;
}

.aboutCard .charName{
    transform: translateY(0px);
}